* { margin: 0;}
a { @include transition-all;
color: $theme-primary;
&:hover,
&:focus {
    color: darken($theme-primary, 10%);
}}
button, textarea { outline: none; }

.pagination {
  text-align: center;
  padding: 20px;
}

.previous { float: left; }
.next { float: right; }

input, textarea {
  width: 100%;
  margin: 10px;
  padding: 5px;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 800px;
}
hr.light {
    border-color: white;
}

body {
  margin-bottom: 25px;
  font-family: 'Poppins',sans-serif;
  background-color: white;
  //background-image: url("img/paperbg.jpg");
}

time {
  display: block;
  font-size: 0.8em;
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

//nav
.navbar-default {
    background-color: #303440;
    border-color: rgba(white, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: white;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: $theme-primary;
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: white;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
      background-color: transparentize(#303440, 0.85);
      border-color: rgba(white, .5);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: $theme-primary;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: $theme-primary;
            }
        }
        &.affix {
            border-color: rgba(white, .5);
            background-color: transparentize(#303440, 0.3);
            .navbar-header .navbar-brand {
                color: white;
                font-size: 14px;
                &:hover,
                &:focus {
                  color: $theme-primary;
                    //color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: white;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
//needed for header
html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}


.bg-dark1 {
    background-color: $theme-dark;
    color: black;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}
//
// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    text-shadow: 0.5px 0.5px black;
    background-image: url('../img/headerdesign1.png');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, 1);
                font-size: 13px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 35%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-color: black;
                    font-size: 19px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

blockquote {
  border-left: 5px solid #999;
  padding-left: 15px;
}
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
// Contact
#contact {
  background-color: white;
}
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}
// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

//
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}
