<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded"><br>This is an example about me page!<br><br></p>
                <p class="text-faded">This is an example page for about me<br><br> <br><br>More examples <br><br></p>
                <a href="/words" class="btn btn-default btn-xl">Check Out My Thoughts!</a>
            </div>
        </div>
    </div>
</section>
<br>
