<section id="about">
<div class="container">
    <center><h1 class="section-heading">About Me.</h1>
      <br>
    <img src="assets/img/headshot.png" alt="Picture_Failed"></center>
    <br><br><br>
    <p>When I was in high school, I had no idea who I was or what I wanted to do.<br>
I was lost inside my mind, I didn’t understand why I wasn’t popular. I didn’t know why people didn’t want to be around me.<br>
I would try to talk to people or message them with no luck. I had some friends but most weekends were spent at home watching TV or playing video games.
I have a distinct memory in my head of my dad always asking me what I was doing this weekend. My answer would always be the same, nothing much just staying in.
That was me 5 years ago, since then I have struggle and worked hard to achieve great success.<br><br>
I have been on an uphill battle to be the best that I can be. I have achieved success in school, work, friends, productivity, fitness and travel. I had some failures along my journey.
I went to school to be a mechanical engineer and dropped out because I loved snowboarding more than I loved going to class. Why go waste my time at school and not learn because I didn’t enjoy it?
When instead I could go snowboard and love every minute of it! I had many lonely days on the hill but I was always working hard to become a better snowboarder.
I decided to take a year off and find a way to have an income by working at home. I was doing well until about a month into it I got a job working in an office.
This was a great learning experience which then motivated me to go back to school.<br><br>
I went to college for 2 years and received a Wind Turbine Technician Diploma with Honours.<br>
I graduated at the top of my class and received 3 job offers. I then chose the best one suited to my needs.<br>
All of that wasn’t enough for me. I worked hard and achieved great success in my field but I wanted more.<br>
I wanted to help people and work for myself, not someone else. I am not a slave driver to make money for someone I don’t even know.<br>
I don’t accept what is, I am always looking for something better.<br>
That is why you are here, you are looking to better yourself.<br>
I am here to help you do just that. Through my writings and videos I will show you how I have achieved so much, at such a young age.<br>
You will be able to see exactly how I live my life and better myself on a weekly basis.<br>
Keep checking back for more updates!
</p>
  </div>
</section>

  <section class="bg-primary" >
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Check out my Blog!</h2>
                  <hr class="light">
                  <a href="{{site.github.url}}/blog" class="btn btn-default btn-xl">Read my thoughts!</a>
              </div>
          </div>
      </div>
  </section>
