<section id="about">
<div class="container">
    <center><h1 class="section-heading">About Me</h1>
      <br>
    <img class="lazy" data-original="assets/img/headshot.png" alt="Jordan Tomasone About Me Picture" width=50%> </center>
<hr class="light">
    <p width=100%><br>
      Focused on growth and always building a better self.
<br><br>
      My mind works on information therefore I am always trying new things.
<br><br>
      If something is new, I enjoy it! As soon I start to get comfortable with something my mind tells me I am bored. It then proceeds to think of other more interesting things.
<br><br>
      I have always found myself to be a great listener and by doing so I am able to learn a lot from my peers.
<br><br>
      Over the past four years I have been able to try new things to see what works and what does not.
<br><br>
      Throughout this time there has been a lot of struggle but through this struggle I have achieved great success.
<br><br>
      Success in all aspects of life.
<br><br>
      I have achieved success in school, work, friends, productivity, fitness and, travel.
<br><br>
      I did this by consistently working on myself; and always trying to better myself everyday.
<br><br>
      Now I want to share my story with the world, about how I became the man I am today.
<br><br>
      And with these stories and lessons. I want to help you Build a Better Self, and help to achieve the things you want in your life!
<br><br>
      Now lets work together to create the life you want, the life you Deserve!
</p>
  </div>
</section>
