<section class="bg-dark" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Subscribe To My Personal Email List!</h2>
                <hr class="light">
              I'll keep you up to date, without filling up your inbox.
        </div>
    </div>

    <div class="col-lg-8 col-lg-offset-3 text-center" id="wufoo-zyzqo6j1agobvf">
Fill out my <a href="https://jordantomasone.wufoo.com/forms/zyzqo6j1agobvf">online form</a>.
</div>
</div>
</section>
