<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-3">
                <a href="{{ site.url }}/videos" class="portfolio-box">
                    <img src="img/portfolio/1.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Videos
                            </div>
                            <div class="project-name">
                                Every Week
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-3">
                <a href="https://www.youtube.com/channel/UCEE67yJY5rlUFNNabjzlW8w/discussion" class="portfolio-box">
                    <img src="img/portfolio/2.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Help Me
                            </div>
                            <div class="project-name">
                                Inspire You
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-3">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/3.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Send Me A Message
                            </div>
                            <div class="project-name">
                                Let's Build a Better Self!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
