---
layout: compress
---
<!DOCTYPE html>
<html>
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth <= 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}
  {% include head1.html %}
  <body>
    {% include nav2.html %}
    {% include scripts.html %}
    <main>
	 		{{ content }}
	 	</main>
 		{% include footer.html %}
    {% include ga.html %}
	<!--<script src='assets/app.js'></script> -->
	</body>
</html>
